<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_horizontal_thruster_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="left_horizontal_thruster_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="back_right_vertical_thruster_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="back_left_vertical_thruster_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_left_vertical_thruster_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_right_vertical_thruster_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="right_horizontal_thruster_propeller_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="left_horizontal_thruster_propeller_link">
        <material>Gazebo/Red</material>
    </gazebo>
    
    <gazebo reference="back_right_vertical_thruster_propeller_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="back_left_vertical_thruster_propeller_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="front_left_vertical_thruster_propeller_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="front_right_vertical_thruster_propeller_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <plugin name='buoyancy' filename='libBuoyancyPlugin.so'>
        <fluid_density>999.1026</fluid_density>
    </plugin>
    
</robot>